<h1 style="margin-top:58px">Logging out ...</h1>

<script>
  window.ReactNativeWebView?.postMessage(JSON.stringify({ type: 'setAuthToken', token: ''}));

  setTimeout(function() { document.location.href = "<%= phone_app_root_url(host: request.host) %>" }, 1000) // for web tests only - code obove triggers redirect on phone automatically
</script>
